*.iml
.idea/
target/
logs/
.classpath
.project
.settings/
.amateras
src/main/resources/hibernate.cfg.xml
src/main/resources/hibernate.reveng.xml
/target*
*/bin/*
*.log*
*.versionsBackup
test-output*
runtest.sh
/ons-top/frontend
*dependency-reduced-pom.xml
local
frontend
/ons-top/ons-frontend
.DS_Store/
